<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="icon" href="/img/weather.png" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Site Created by: Testing</p>
            <img class="portrait" src="/img/profile.jpg" />
        </div>
        {{>footer}}
    </body>
</html>